%span_style{
  font-size: 15px;
  margin: 0 6px 0 12px;
  color: #17181A;
}

%input_div{
  display: flex;
  align-items: center;
  margin: 0 0 14px 0;
}

%input_head{
  color: #2268B4;
  font-size: 17px;
}

%input_wrapper{
  border-bottom: 1px solid #E2E2E2;
  margin: 0 0 16px 0;
}